In [159]:
# import libraries
import selenium
import pandas as pd
import time
from bs4 import BeautifulSoup

In [160]:
# Importing selenium webdriver 
from selenium import webdriver

In [161]:
# Importing required Exceptions which needs to handled
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
#Importing requests
import requests
# importing regex
import re

Q1. Scrape the details of most viewed videos on YouTube from Wikipedia: Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos/ You need to find following details: A) Rank B) Name C) Artist D) Upload date E) Views

In [7]:
# let first connect to the webdriver
driver = webdriver.Chrome(r"C:\Web driver\chromedriver.exe")

C:\Users\Asus\AppData\Local\Temp/ipykernel_26256/375155047.py:2: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(r"C:\Web driver\chromedriver.exe")

In [8]:
driver.get('https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos')

In [9]:
#creating empty list
Rank=[]
Name=[] 
Artist=[]
Upload_date=[]
Views=[]

In [10]:
dt = driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[1]')
for d in dt:
    if d.text is None :
        Rank.append('-')
    else:
        Rank.append(d.text)

C:\Users\Asus\AppData\Local\Temp/ipykernel_26256/166248000.py:1: DeprecationWarning: find_elements_by_xpath is deprecated. Please use find_elements(by=By.XPATH, value=xpath) instead
  dt = driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[1]')

In [11]:
dt = driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[2]')
for d in dt:
    if d.text is None :
        Name.append('-')
    else:
        Name.append(d.text)

C:\Users\Asus\AppData\Local\Temp/ipykernel_26256/2999464878.py:1: DeprecationWarning: find_elements_by_xpath is deprecated. Please use find_elements(by=By.XPATH, value=xpath) instead
  dt = driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[2]')

In [12]:
dt = driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[3]')
for d in dt:
    if d.text is None :
        Artist.append('-')
    else:
        Artist.append(d.text)

C:\Users\Asus\AppData\Local\Temp/ipykernel_26256/2725512465.py:1: DeprecationWarning: find_elements_by_xpath is deprecated. Please use find_elements(by=By.XPATH, value=xpath) instead
  dt = driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[3]')

In [13]:
dt = driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[5]')
for d in dt:
    if d.text is None :
        Upload_date.append('-')
    else:
        Upload_date.append(d.text)

C:\Users\Asus\AppData\Local\Temp/ipykernel_26256/1912423871.py:1: DeprecationWarning: find_elements_by_xpath is deprecated. Please use find_elements(by=By.XPATH, value=xpath) instead
  dt = driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[5]')

In [14]:
dt = driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[4]')
for d in dt:
    if d.text is None :
        Views.append('-')
    else:
        Views.append(d.text)

C:\Users\Asus\AppData\Local\Temp/ipykernel_26256/4281142392.py:1: DeprecationWarning: find_elements_by_xpath is deprecated. Please use find_elements(by=By.XPATH, value=xpath) instead
  dt = driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[4]')

In [15]:
import pandas as pd
table=pd.DataFrame({})

table['Rank']=Rank[:30]
table['Name']=Name[:30]
table['Artist']=Artist[:30]
table['Upload Date']=Upload_date[:30]
table['Views']=Views[:30]

In [16]:
table

,Rank,Name,Artist,Upload Date,Views
0,1.,"""Baby Shark Dance""[3]",Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",10.80
1,2.,"""Despacito""[6]",Luis Fonsi,"January 12, 2017",7.87
2,3.,"""Johny Johny Yes Papa""[12]",LooLoo Kids,"October 8, 2016",6.37
3,4.,"""Shape of You""[13]",Ed Sheeran,"January 30, 2017",5.74
4,5.,"""See You Again""[15]",Wiz Khalifa,"April 6, 2015",5.54
5,6.,"""Bath Song""[20]",Cocomelon – Nursery Rhymes,"May 2, 2018",5.44
6,7.,"""Phonics Song with Two Words""[21]",ChuChu TV,"March 6, 2014",4.67
7,8.,"""Uptown Funk""[22]",Mark Ronson,"November 19, 2014",4.60
8,9.,"""Learning Colors – Colorful Eggs on a Farm""[23]",Miroshka TV,"February 27, 2018",4.58
9,10.,"""Masha and the Bear – Recipe for Disaster""[24]",Get Movies,"January 31, 2012",4.50
10,11.,"""Gangnam Style""[25]",Psy,"July 15, 2012",4.45
11,12.,"""Wheels on the Bus""[30]",Cocomelon – Nursery Rhymes,"May 24, 2018",4.12
12,13.,"""Dame Tu Cosita""[31]",El Chombo,"April 5, 2018",3.95
13,14.,"""Sugar""[32]",Maroon 5,"January 14, 2015",3.71
14,15.,"""Roar""[33]",Katy Perry,"September 5, 2013",3.60
15,16.,"""Counting Stars""[34]",OneRepublic,"May 31, 2013",3.59
16,17.,"""Sorry""[35]",Justin Bieber,"October 22, 2015",3.55
17,18.,"""Thinking Out Loud""[36]",Ed Sheeran,"October 7, 2014",3.46
18,19.,"""Axel F""[37]",Crazy Frog,"June 16, 2009",3.38
19,20.,"""Girls Like You""[38]",Maroon 5,"May 31, 2018",3.30
20,21.,"""Faded""[39]",Alan Walker,"December 3, 2015",3.29
21,22.,"""Dark Horse""[40]",Katy Perry,"February 20, 2014",3.29
22,23.,"""Baa Baa Black Sheep""[41]",Cocomelon – Nursery Rhymes,"June 25, 2018",3.26
23,24.,"""Let Her Go""[42]",Passenger,"July 25, 2012",3.24
24,25.,"""Bailando""[43]",Enrique Iglesias,"April 11, 2014",3.22
25,26.,"""Lean On""[44]",Major Lazer,"March 22, 2015",3.22
26,27.,"""Perfect""[45]",Ed Sheeran,"November 9, 2017",3.18
27,28.,"""Shake It Off""[46]",Taylor Swift,"August 18, 2014",3.18
28,29.,"""Waka Waka (This Time for Africa)""[47]",Shakira,"June 4, 2010",3.16
29,30.,"""Mi Gente""[48]",J Balvin,"June 29, 2017",3.09

Q2. Scrape the details team India’s international fixtures from bcci.tv. Url = https://www.bcci.tv/. You need to find following details: A) Match title (I.e. 1 st ODI) B) Series C) Place D) Date E) Time Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [91]:
driver = webdriver.Chrome(r"C:\Web driver\chromedriver.exe")

C:\Users\Asus\AppData\Local\Temp/ipykernel_26256/2493915227.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(r"C:\Web driver\chromedriver.exe")

In [92]:
url = "https://www.bcci.tv/"
driver.get(url)
time.sleep(4)
driver.maximize_window()

In [94]:
#click on international
international=driver.find_element_by_xpath("/html/body/nav/div[1]/div[2]/ul[1]/li[2]")
international.click()
time.sleep(3)

C:\Users\Asus\AppData\Local\Temp/ipykernel_26256/4207042157.py:2: DeprecationWarning: find_element_by_xpath is deprecated. Please use find_element(by=By.XPATH, value=xpath) instead
  international=driver.find_element_by_xpath("/html/body/nav/div[1]/div[2]/ul[1]/li[2]")

In [95]:
# click on fixtures
fixtures= driver.find_element_by_xpath("/html/body/div[2]/div[1]/div/ul/li[1]")
fixtures.click()
time.sleep(3)

C:\Users\Asus\AppData\Local\Temp/ipykernel_26256/3314304517.py:2: DeprecationWarning: find_element_by_xpath is deprecated. Please use find_element(by=By.XPATH, value=xpath) instead
  fixtures= driver.find_element_by_xpath("/html/body/div[2]/div[1]/div/ul/li[1]")

In [111]:
#Creating Empty list
Match=[]
Series=[]
Place=[]
Date=[]
Time=[]

In [112]:
#Scraping Match_title
match= driver.find_elements_by_xpath("//span[@class='matchOrderText ng-binding ng-scope']")
for i in match:
    Match.append(i.text)

C:\Users\Asus\AppData\Local\Temp/ipykernel_26256/4226103194.py:2: DeprecationWarning: find_elements_by_xpath is deprecated. Please use find_elements(by=By.XPATH, value=xpath) instead
  match= driver.find_elements_by_xpath("//span[@class='matchOrderText ng-binding ng-scope']")

In [114]:
#Scraping Series
series= driver.find_elements_by_xpath("//h5[@class='fix-text']")
for i in series:
    Series.append(i.text)

C:\Users\Asus\AppData\Local\Temp/ipykernel_26256/3150636554.py:2: DeprecationWarning: find_elements_by_xpath is deprecated. Please use find_elements(by=By.XPATH, value=xpath) instead
  series= driver.find_elements_by_xpath("//h5[@class='fix-text']")

In [115]:
#Scraping Place
place= driver.find_elements_by_xpath("//span[@class='ng-binding ng-scope']")
for i in place:
    Place.append(i.text)

C:\Users\Asus\AppData\Local\Temp/ipykernel_26256/1108229991.py:2: DeprecationWarning: find_elements_by_xpath is deprecated. Please use find_elements(by=By.XPATH, value=xpath) instead
  place= driver.find_elements_by_xpath("//span[@class='ng-binding ng-scope']")

In [116]:
#Scraping Date
date= driver.find_elements_by_xpath("//div[@class='match-card-left match-schedule']")
for i in date:
    Date.append(i.text)

C:\Users\Asus\AppData\Local\Temp/ipykernel_26256/2967405003.py:2: DeprecationWarning: find_elements_by_xpath is deprecated. Please use find_elements(by=By.XPATH, value=xpath) instead
  date= driver.find_elements_by_xpath("//div[@class='match-card-left match-schedule']")

In [117]:
#Scraping Time
time= driver.find_elements_by_xpath("//h5[@class='text-right ng-binding']")
for i in time:
    Time.append(i.text)

C:\Users\Asus\AppData\Local\Temp/ipykernel_26256/3239409779.py:2: DeprecationWarning: find_elements_by_xpath is deprecated. Please use find_elements(by=By.XPATH, value=xpath) instead
  time= driver.find_elements_by_xpath("//h5[@class='text-right ng-binding']")

In [118]:
Fixture=pd.DataFrame({})
Fixture['Match_title']=Match[1:8]
Fixture['Series']=Series[1:8]
Fixture['Place']=Place[1:8]
Fixture['Date']=Date[1:8]
Fixture['Time']=Time[1:8]
Fixture

,Match_title,Series,Place,Date,Time
0,2nd T20I -,INDIA WOMEN TOUR OF SRI LANKA T20 SERIES 2022,"Rangiri Dambulla International Stadium,",25 JUN 2022,2:30 PM IST
1,1st T20I -,,"The Village,",26 JUN 2022,9:00 PM IST
2,3rd T20I -,INDIA WOMEN TOUR OF SRI LANKA T20 SERIES 2022,"Rangiri Dambulla International Stadium,",27 JUN 2022,2:30 PM IST
3,2nd T20I -,,"The Village,",28 JUN 2022,9:00 PM IST
4,1st ODI -,INDIA TOUR OF IRELAND T20 SERIES 2022,"Pallekele International Cricket Stadium,",1 JUL 2022,10:00 AM IST
5,5th Test -,,"Edgbaston,",1 JUL 2022,3:30 PM IST
6,2nd ODI -,INDIA WOMEN TOUR OF SRI LANKA T20 SERIES 2022,"Pallekele International Cricket Stadium,",4 JUL 2022,10:00 AM IST

Q3. Scrape the details of selenium exception from guru99.com. Url = https://www.guru99.com/ You need to find following details: A) Name B) Description Note: - From guru99 home page you have to reach to selenium exception handling page through code.

In [17]:
driver = webdriver.Chrome(r"C:\Web driver\chromedriver.exe")

C:\Users\Asus\AppData\Local\Temp/ipykernel_26256/2493915227.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(r"C:\Web driver\chromedriver.exe")

In [18]:
driver.get('https://www.guru99.com/')

In [19]:
driver.find_element_by_xpath('//a[@title="Selenium"]').click()

C:\Users\Asus\AppData\Local\Temp/ipykernel_26256/191405855.py:1: DeprecationWarning: find_element_by_xpath is deprecated. Please use find_element(by=By.XPATH, value=xpath) instead
  driver.find_element_by_xpath('//a[@title="Selenium"]').click()

In [20]:
driver.find_element_by_xpath('//a[@title="Selenium Exception Handling (Common Exceptions List)"]').click()

C:\Users\Asus\AppData\Local\Temp/ipykernel_26256/472190259.py:1: DeprecationWarning: find_element_by_xpath is deprecated. Please use find_element(by=By.XPATH, value=xpath) instead
  driver.find_element_by_xpath('//a[@title="Selenium Exception Handling (Common Exceptions List)"]').click()

In [21]:
Name=[]
Description=[]

In [22]:
dt = driver.find_elements_by_xpath('//table[@class="table table-striped"]/tbody/tr/td[1]')
for d in dt:
    Name.append(d.text)

C:\Users\Asus\AppData\Local\Temp/ipykernel_26256/2731255841.py:1: DeprecationWarning: find_elements_by_xpath is deprecated. Please use find_elements(by=By.XPATH, value=xpath) instead
  dt = driver.find_elements_by_xpath('//table[@class="table table-striped"]/tbody/tr/td[1]')

In [23]:
dt = driver.find_elements_by_xpath('//table[@class="table table-striped"]/tbody/tr/td[2]')
for d in dt:
    Description.append(d.text)

C:\Users\Asus\AppData\Local\Temp/ipykernel_26256/168012624.py:1: DeprecationWarning: find_elements_by_xpath is deprecated. Please use find_elements(by=By.XPATH, value=xpath) instead
  dt = driver.find_elements_by_xpath('//table[@class="table table-striped"]/tbody/tr/td[2]')

In [24]:
import pandas as pd
table=pd.DataFrame({})

table['Name']=Name[1:50]
table['Description']=Description[1:50]

In [25]:
table

,Name,Description
0,ElementNotSelectableException,This Selenium exception occurs when an element...
1,NoSuchElementException,This Exception occurs if an element could not ...
2,NoSuchFrameException,This Exception occurs if the frame target to b...
3,NoAlertPresentException,This Exception occurs when you switch to no pr...
4,NoSuchWindowException,This Exception occurs if the window target to ...
5,StaleElementReferenceException,This Selenium exception occurs happens when th...
6,SessionNotFoundException,The WebDriver is acting after you quit the bro...
7,TimeoutException,Thrown when there is not enough time for a com...
8,WebDriverException,This Exception takes place when the WebDriver ...
9,ConnectionClosedException,This type of Exception takes place when there ...
10,ElementClickInterceptedException,The command may not be completed as the elemen...
11,ElementNotInteractableException,This Selenium exception is thrown when any ele...
12,ErrorInResponseException,This happens while interacting with the Firefo...
13,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
14,ImeActivationFailedException,This expectation will occur when IME engine ac...
15,ImeNotAvailableException,It takes place when IME support is unavailable.
16,InsecureCertificateException,Navigation made the user agent to hit a certif...
17,InvalidArgumentException,It occurs when an argument does not belong to ...
18,InvalidCookieDomainException,This happens when you try to add a cookie unde...
19,InvalidCoordinatesException,This type of Exception matches an interacting ...
20,InvalidElementStateExceptio,It occurs when command can’t be finished when ...
21,InvalidSessionIdException,This Exception took place when the given sessi...
22,InvalidSwitchToTargetException,This occurs when the frame or window target to...
23,JavascriptException,This issue occurs while executing JavaScript g...
24,JsonException,It occurs when you afford to get the session w...
25,NoSuchAttributeException,This kind of Exception occurs when the attribu...
26,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
27,NoSuchContextException,ContextAware does mobile device testing.
28,NoSuchCookieException,This Exception occurs when no cookie matching ...
29,NotFoundException,This Exception is a subclass of WebDriverExcep...
30,RemoteDriverServerException,This Selenium exception is thrown when the ser...
31,ScreenshotException,It is not possible to capture a screen.
32,SessionNotCreatedException,It happens when a new session could not be suc...
33,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
34,UnexpectedTagNameException,Happens if a support class did not get a web e...
35,UnhandledAlertException,This expectation occurs when there is an alert...
36,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
37,UnknownMethodException,This Exception happens when the requested comm...
38,UnreachableBrowserException,This Exception occurs only when the browser is...
39,UnsupportedCommandException,This occurs when remote WebDriver does n’t sen...

Q4. Scrape the details of State-wise GDP of India from statisticstime.com.
Url = http://statisticstimes.com/
You have to find following details:
A) Rank
B) State
C) GSDP(18-19)
D) GSDP(17-18)
E) Share(2017)
F) GDP($ billion)
Note: - From statisticstimes home page you have to reach to economy page through code.

In [119]:
driver = webdriver.Chrome(r"C:\Web driver\chromedriver.exe")

C:\Users\Asus\AppData\Local\Temp/ipykernel_26256/2493915227.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(r"C:\Web driver\chromedriver.exe")

In [124]:
url = "http://statisticstimes.com/"
driver.get(url)
time.sleep(4)
driver.maximize_window()

In [130]:
#Click Economy
Economy=driver.find_element_by_xpath("/html/body/div[2]/div[1]/div[2]/div[2]")
Economy.click()

C:\Users\Asus\AppData\Local\Temp/ipykernel_26256/2204793304.py:2: DeprecationWarning: find_element_by_xpath is deprecated. Please use find_element(by=By.XPATH, value=xpath) instead
  Economy=driver.find_element_by_xpath("/html/body/div[2]/div[1]/div[2]/div[2]")

In [133]:
#Click India
India= driver.find_element_by_xpath("/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]")
India.click()

C:\Users\Asus\AppData\Local\Temp/ipykernel_26256/1776027345.py:2: DeprecationWarning: find_element_by_xpath is deprecated. Please use find_element(by=By.XPATH, value=xpath) instead
  India= driver.find_element_by_xpath("/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]")

In [134]:
#Click on India GPD
GDP=driver.find_element_by_xpath("/html/body/div[2]/div[2]/div[2]/ul/li[1]/a")
GDP.click()

C:\Users\Asus\AppData\Local\Temp/ipykernel_26256/4166197628.py:2: DeprecationWarning: find_element_by_xpath is deprecated. Please use find_element(by=By.XPATH, value=xpath) instead
  GDP=driver.find_element_by_xpath("/html/body/div[2]/div[2]/div[2]/ul/li[1]/a")

In [135]:
#Creating empty list
Rank=[]
State=[]
GSDP_at_current_price_19_20=[]
GSDP_at_current_price_18_19=[]
Share_18_19=[]
GDP_billion=[]

In [137]:
#Scraping Rank
rank= driver.find_elements_by_xpath("//td[@class='data1']")
for i in rank:
    if i.text is None:
        Rank.append('--')
    else:
        Rank.append(i.text)

C:\Users\Asus\AppData\Local\Temp/ipykernel_26256/1606775808.py:2: DeprecationWarning: find_elements_by_xpath is deprecated. Please use find_elements(by=By.XPATH, value=xpath) instead
  rank= driver.find_elements_by_xpath("//td[@class='data1']")

In [141]:
#Scraping State
state= driver.find_elements_by_xpath("//td[@class='name']")
for i in state:
    if i.text is None:
        State.append('--')
    else:
        State.append(i.text)

C:\Users\Asus\AppData\Local\Temp/ipykernel_26256/1789462581.py:2: DeprecationWarning: find_elements_by_xpath is deprecated. Please use find_elements(by=By.XPATH, value=xpath) instead
  state= driver.find_elements_by_xpath("//td[@class='name']")

In [153]:
#Scraping GSDP_at_current_price_19_20
gSDP_at_current_price_19_20= driver.find_elements_by_xpath("//td[@class='data']")
for i in gSDP_at_current_price_19_20:
    if i.text is None:
        GSDP_at_current_price_19_20.append('--')
    else:
        GSDP_at_current_price_19_20.append(i.text)

C:\Users\Asus\AppData\Local\Temp/ipykernel_26256/1340142769.py:2: DeprecationWarning: find_elements_by_xpath is deprecated. Please use find_elements(by=By.XPATH, value=xpath) instead
  gSDP_at_current_price_19_20= driver.find_elements_by_xpath("//td[@class='data']")

In [143]:
#Scraping GSDP_at_current_price_18_19
gSDP_at_current_price_18_19= driver.find_elements_by_xpath("//td[@class='data sorting_1']")
for i in gSDP_at_current_price_18_19:
    if i.text is None:
        GSDP_at_current_price_18_19.append('--')
    else:
        GSDP_at_current_price_18_19.append(i.text)

C:\Users\Asus\AppData\Local\Temp/ipykernel_26256/1625769704.py:2: DeprecationWarning: find_elements_by_xpath is deprecated. Please use find_elements(by=By.XPATH, value=xpath) instead
  gSDP_at_current_price_18_19= driver.find_elements_by_xpath("//td[@class='data sorting_1']")

In [154]:
#Scraping Share_18_19
share_18_19= driver.find_elements_by_xpath("//td[@class='data']")
for i in share_18_19:
    if i.text is None:
        Share_18_19.append('--')
    else:
        Share_18_19.append(i.text)

C:\Users\Asus\AppData\Local\Temp/ipykernel_26256/4264932370.py:2: DeprecationWarning: find_elements_by_xpath is deprecated. Please use find_elements(by=By.XPATH, value=xpath) instead
  share_18_19= driver.find_elements_by_xpath("//td[@class='data']")

In [155]:
#Scraping GDP_billion
gDP_billion= driver.find_elements_by_xpath("//td[@class='data']")
for i in gDP_billion:
    if i.text is None:
        GDP_billion.append('--')
    else:
        GDP_billion.append(i.text)

C:\Users\Asus\AppData\Local\Temp/ipykernel_26256/2305165584.py:2: DeprecationWarning: find_elements_by_xpath is deprecated. Please use find_elements(by=By.XPATH, value=xpath) instead
  gDP_billion= driver.find_elements_by_xpath("//td[@class='data']")

In [158]:
# creating dataframe
GDP_India=pd.DataFrame({})
GDP_India['Rank']=Rank[:33]
GDP_India['State']=State[:33]
GDP_India['GSDP_at_current_price_19_20']=GSDP_at_current_price_19_20[:33]
GDP_India['GSDP_at_current_price_18_19']=GSDP_at_current_price_18_19[:33]
GDP_India['Share_18_19']=Share_18_19[:33]
GDP_India['GDP_billion']=GDP_billion[:33]
GDP_India

,Rank,State,GSDP_at_current_price_19_20,GSDP_at_current_price_18_19,Share_18_19,GDP_billion
0,1,Maharashtra,-,"2,632,792",-,-
1,2,Tamil Nadu,13.94%,"1,630,208",13.94%,13.94%
2,3,Uttar Pradesh,399.921,"1,584,764",399.921,399.921
3,4,Gujarat,-,"1,502,899",-,-
4,5,Karnataka,"2,039,074","1,493,127","2,039,074","2,039,074"
5,6,West Bengal,"1,845,853","1,089,898","1,845,853","1,845,853"
6,7,Rajasthan,8.63%,"942,586",8.63%,8.63%
7,8,Andhra Pradesh,247.629,"862,957",247.629,247.629
8,9,Telangana,"1,312,929","861,031","1,312,929","1,312,929"
9,10,Madhya Pradesh,"1,215,307","809,592","1,215,307","1,215,307"
10,11,Kerala,"1,687,818","781,653","1,687,818","1,687,818"
11,12,Delhi,8.39%,"774,870",8.39%,8.39%
12,13,Haryana,240.726,"734,163",240.726,240.726
13,14,Bihar,"1,166,817","530,363","1,166,817","1,166,817"
14,15,Punjab,"1,123,982","526,376","1,123,982","1,123,982"
15,16,Odisha,-,"487,805",-,-
16,17,Assam,7.96%,"315,881",7.96%,7.96%
17,18,Chhattisgarh,228.290,"304,063",228.290,228.290
18,19,Jharkhand,-,"297,204",-,-
19,20,Uttarakhand,"1,186,379","245,895","1,186,379","1,186,379"
20,21,Jammu & Kashmir,"1,631,977","155,956","1,631,977","1,631,977"
21,22,Himachal Pradesh,7.91%,"153,845",7.91%,7.91%
22,23,Goa,226.806,"73,170",226.806,226.806
23,24,Tripura,"1,156,039","49,845","1,156,039","1,156,039"
24,25,Chandigarh,"1,091,077","42,114","1,091,077","1,091,077"
25,26,Puducherry,"1,253,832","34,433","1,253,832","1,253,832"
26,27,Meghalaya,5.77%,"33,481",5.77%,5.77%
27,28,Sikkim,165.556,"28,723",165.556,165.556
28,29,Manipur,"793,223","27,870","793,223","793,223"
29,30,Nagaland,"739,525","27,283","739,525","739,525"
30,31,Arunachal Pradesh,"1,020,989","24,603","1,020,989","1,020,989"
31,32,Mizoram,4.99%,"22,287",4.99%,4.99%
32,33,Andaman & Nicobar Islands,143.179,-,143.179,143.179

Q5. Scrape the details of trending repositories on Github.com.
Url = https://github.com/
You have to find the following details:
A) Repository title
B) Repository description
C) Contributors count
D) Language used

In [162]:
driver = webdriver.Chrome(r"C:\Web driver\chromedriver.exe")

C:\Users\Asus\AppData\Local\Temp/ipykernel_26256/2493915227.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(r"C:\Web driver\chromedriver.exe")

In [163]:
url = "https://github.com/ "
driver.get(url)
time.sleep(4)
driver.maximize_window()

In [165]:
Explore=driver.find_element_by_xpath("/html/body/div[1]/header/div/div[2]/nav/ul/li[4]")
Explore.click()

C:\Users\Asus\AppData\Local\Temp/ipykernel_26256/1776369376.py:1: DeprecationWarning: find_element_by_xpath is deprecated. Please use find_element(by=By.XPATH, value=xpath) instead
  Explore=driver.find_element_by_xpath("/html/body/div[1]/header/div/div[2]/nav/ul/li[4]")

In [166]:
Treading=driver.find_element_by_xpath("/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/div/ul/li[5]/a")
Treading.click()

C:\Users\Asus\AppData\Local\Temp/ipykernel_26256/1996564426.py:1: DeprecationWarning: find_element_by_xpath is deprecated. Please use find_element(by=By.XPATH, value=xpath) instead
  Treading=driver.find_element_by_xpath("/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/div/ul/li[5]/a")

In [167]:
# Creating emplty list 
Repository_title=[]
Repository_description=[]
Contributors_count=[]
Language_used=[]

In [168]:
#scraping Repository_title
repository_title=driver.find_elements_by_xpath("//h1[@class='h3 lh-condensed']")
for i in repository_title:
    if i.text is None:
        Repository_title.append('--')
    else:
        Repository_title.append(i.text)

C:\Users\Asus\AppData\Local\Temp/ipykernel_26256/3312198327.py:2: DeprecationWarning: find_elements_by_xpath is deprecated. Please use find_elements(by=By.XPATH, value=xpath) instead
  repository_title=driver.find_elements_by_xpath("//h1[@class='h3 lh-condensed']")

In [170]:
#scraping Repository_description
repository_description=driver.find_elements_by_xpath("//p[@class='col-9 color-fg-muted my-1 pr-4']")
for i in repository_description:
    if i.text is None:
        Repository_description.append('--')
    else:
        Repository_description.append(i.text)

C:\Users\Asus\AppData\Local\Temp/ipykernel_26256/1966059735.py:2: DeprecationWarning: find_elements_by_xpath is deprecated. Please use find_elements(by=By.XPATH, value=xpath) instead
  repository_description=driver.find_elements_by_xpath("//p[@class='col-9 color-fg-muted my-1 pr-4']")

In [171]:
#scraping Contributors_count
contributors_count=driver.find_elements_by_xpath("//span[@class='d-inline-block mr-3']")
for i in contributors_count:
    if i.text is None:
        Contributors_count.append('--')
    else:
        Contributors_count.append(i.text)

C:\Users\Asus\AppData\Local\Temp/ipykernel_26256/2216261003.py:2: DeprecationWarning: find_elements_by_xpath is deprecated. Please use find_elements(by=By.XPATH, value=xpath) instead
  contributors_count=driver.find_elements_by_xpath("//span[@class='d-inline-block mr-3']")

In [172]:
#scraping Language_used
language_used=driver.find_elements_by_xpath("//span[@class='d-inline-block ml-0 mr-3']")
for i in language_used:
    if i.text is None:
        Language_used.append('--')
    else:
        Language_used.append(i.text)

C:\Users\Asus\AppData\Local\Temp/ipykernel_26256/2350040667.py:2: DeprecationWarning: find_elements_by_xpath is deprecated. Please use find_elements(by=By.XPATH, value=xpath) instead
  language_used=driver.find_elements_by_xpath("//span[@class='d-inline-block ml-0 mr-3']")

In [175]:
Treding_rep=pd.DataFrame({})
Treding_rep['Repository_title']= Repository_title[:20]
Treding_rep['Repository_description']= Repository_description[:20]
Treding_rep['Contributors_count']= Contributors_count[:20]
Treding_rep['Language_used']= Language_used[:20]
Treding_rep

,Repository_title,Repository_description,Contributors_count,Language_used
0,hashicorp / nomad,"Nomad is an easy-to-use, flexible, and perform...",Built by,Go
1,cloudwego / hertz,A high-performance and strong-extensibility Go...,Built by,Go
2,OAI / OpenAPI-Specification,The OpenAPI Specification Repository,Built by,JavaScript
3,Developer-Y / cs-video-courses,List of Computer Science courses with video le...,Built by,Python
4,mingrammer / diagrams,🎨 Diagram as Code for prototyping cloud system...,Built by,Python
5,mosaicml / composer,train neural networks up to 7x faster,Built by,C++
6,LeadCoding / 3-weeks-Google-Prep,Firebase iOS SDK,Built by,Objective-C
7,firebase / firebase-ios-sdk,Documentation for GitHub Copilot,Built by,Python
8,github / copilot-docs,My awesomewm dotfiles for awesome people! ✨,Built by,CSS
9,rxyhn / dotfiles,Vector database for scalable similarity search...,Built by,Go
10,milvus-io / milvus,Spring Cloud Tencent is a Spring Boot based Se...,Built by,Java
11,Tencent / spring-cloud-tencent,Haptic input knob with software-defined endsto...,Built by,C++
12,scottbez1 / smartknob,🍀 Pytorch implementation of various Attention ...,Built by,Python
13,xmu-xiaoma666 / External-Attention-pytorch,"All about bug bounty (bypasses, payloads, and ...",Built by,Go
14,daffainfo / AllAboutBugBounty,A toolkit with common assertions and mocks tha...,Built by,Ruby
15,stretchr / testify,Polyformer is an open-source project that aims...,Built by,PHP
16,Reiten966 / Polyformer,🚀 The easiest way to automate building and rel...,Built by,Swift
17,fastlane / fastlane,PHP_CodeSniffer tokenizes PHP files and detect...,Built by,C
18,squizlabs / PHP_CodeSniffer,An overview of the different types of charts y...,Built by,PHP
19,jordibruin / Swift-Charts-Examples,A collection of resources to learn about MLOPs.,Built by,Smarty

Q6. Scrape the details of top 100 songs on billiboard.com.
Url = https:/www.billboard.com/
You have to find the following details:
A) Song name
B) Artist name
C) Last week rank
D) Peak rank
E) Weeks on board

In [176]:
driver = webdriver.Chrome(r"C:\Web driver\chromedriver.exe")

C:\Users\Asus\AppData\Local\Temp/ipykernel_26256/2493915227.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(r"C:\Web driver\chromedriver.exe")

In [177]:
url = "https://www.billboard.com/"
driver.get(url)
time.sleep(6)
driver.maximize_window()

In [180]:
button= driver.find_element_by_xpath("//div[@class='lrv-u-flex lrv-u-justify-content-start lrv-u-margin-lr-050@mobile-max']")
button.click()

C:\Users\Asus\AppData\Local\Temp/ipykernel_26256/1583637589.py:1: DeprecationWarning: find_element_by_xpath is deprecated. Please use find_element(by=By.XPATH, value=xpath) instead
  button= driver.find_element_by_xpath("//div[@class='lrv-u-flex lrv-u-justify-content-start lrv-u-margin-lr-050@mobile-max']")

In [183]:
chart= driver.find_element_by_xpath("/html/body/div[3]/div[6]/div/div/div/ul/li[1]/h3/button")
chart.click()

C:\Users\Asus\AppData\Local\Temp/ipykernel_26256/2820265436.py:1: DeprecationWarning: find_element_by_xpath is deprecated. Please use find_element(by=By.XPATH, value=xpath) instead
  chart= driver.find_element_by_xpath("/html/body/div[3]/div[6]/div/div/div/ul/li[1]/h3/button")

In [184]:
Hot_song= driver.find_element_by_xpath("/html/body/div[3]/div[6]/div/div/div/ul/li[1]/ul/li[2]")
Hot_song.click()
time.sleep(6)

C:\Users\Asus\AppData\Local\Temp/ipykernel_26256/3648941749.py:1: DeprecationWarning: find_element_by_xpath is deprecated. Please use find_element(by=By.XPATH, value=xpath) instead
  Hot_song= driver.find_element_by_xpath("/html/body/div[3]/div[6]/div/div/div/ul/li[1]/ul/li[2]")

In [185]:
# Creating Blank List
Song_name=[]
Artist_name=[]
Last_week_rank=[]
Peak_rank=[]
Weeks_on_board=[]

In [187]:
#Scraping Song_name
song_name= driver.find_elements_by_xpath("//h3[@class='c-title  a-no-trucate a-font-primary-bold-s u-letter-spacing-0021 lrv-u-font-size-18@tablet lrv-u-font-size-16 u-line-height-125 u-line-height-normal@mobile-max a-truncate-ellipsis u-max-width-330 u-max-width-230@tablet-only']")
for i in song_name:
    if i.text is None:
        Song_name.append('--')
    else:
        Song_name.append(i.text)

C:\Users\Asus\AppData\Local\Temp/ipykernel_26256/2884918445.py:2: DeprecationWarning: find_elements_by_xpath is deprecated. Please use find_elements(by=By.XPATH, value=xpath) instead
  song_name= driver.find_elements_by_xpath("//h3[@class='c-title  a-no-trucate a-font-primary-bold-s u-letter-spacing-0021 lrv-u-font-size-18@tablet lrv-u-font-size-16 u-line-height-125 u-line-height-normal@mobile-max a-truncate-ellipsis u-max-width-330 u-max-width-230@tablet-only']")

In [188]:
#Scraping Artist_name
artist_name= driver.find_elements_by_xpath("//span[@class='c-label  a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only']")
for i in artist_name:
    if i.text is None:
        Artist_name.append('--')
    else:
        Artist_name.append(i.text)

C:\Users\Asus\AppData\Local\Temp/ipykernel_26256/1926996326.py:2: DeprecationWarning: find_elements_by_xpath is deprecated. Please use find_elements(by=By.XPATH, value=xpath) instead
  artist_name= driver.find_elements_by_xpath("//span[@class='c-label  a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only']")

In [189]:
#Scraping Last_week_rank
last_week_rank= driver.find_elements_by_xpath("//li[@class='o-chart-results-list__item // a-chart-color u-width-72 u-width-55@mobile-max u-width-55@tablet-only lrv-u-flex lrv-u-flex-shrink-0 lrv-u-align-items-center lrv-u-justify-content-center lrv-u-border-b-1 u-border-b-0@mobile-max lrv-u-border-color-grey-light u-background-color-white-064@mobile-max lrv-u-flex-grow-1']")
for i in last_week_rank:
    if i.text is None:
        Last_week_rank.append('--')
    else:
        Last_week_rank.append(i.text)

C:\Users\Asus\AppData\Local\Temp/ipykernel_26256/3909836757.py:2: DeprecationWarning: find_elements_by_xpath is deprecated. Please use find_elements(by=By.XPATH, value=xpath) instead
  last_week_rank= driver.find_elements_by_xpath("//li[@class='o-chart-results-list__item // a-chart-color u-width-72 u-width-55@mobile-max u-width-55@tablet-only lrv-u-flex lrv-u-flex-shrink-0 lrv-u-align-items-center lrv-u-justify-content-center lrv-u-border-b-1 u-border-b-0@mobile-max lrv-u-border-color-grey-light u-background-color-white-064@mobile-max lrv-u-flex-grow-1']")

In [190]:
#Scraping Peak_rank
peak_rank= driver.find_elements_by_xpath("//li[@class='o-chart-results-list__item // a-chart-bg-color a-chart-color u-width-72 u-width-55@mobile-max u-width-55@tablet-only lrv-u-flex lrv-u-flex-shrink-0 lrv-u-align-items-center lrv-u-justify-content-center lrv-u-background-color-grey-lightest lrv-u-border-b-1 u-border-b-0@mobile-max lrv-u-border-color-grey-light lrv-u-flex-grow-1']")
for i in peak_rank:
    if i.text is None:
        Peak_rank.append('--')
    else:
        Peak_rank.append(i.text)

C:\Users\Asus\AppData\Local\Temp/ipykernel_26256/3006554633.py:2: DeprecationWarning: find_elements_by_xpath is deprecated. Please use find_elements(by=By.XPATH, value=xpath) instead
  peak_rank= driver.find_elements_by_xpath("//li[@class='o-chart-results-list__item // a-chart-bg-color a-chart-color u-width-72 u-width-55@mobile-max u-width-55@tablet-only lrv-u-flex lrv-u-flex-shrink-0 lrv-u-align-items-center lrv-u-justify-content-center lrv-u-background-color-grey-lightest lrv-u-border-b-1 u-border-b-0@mobile-max lrv-u-border-color-grey-light lrv-u-flex-grow-1']")

In [191]:
#Scraping Weeks_on_board
weeks_on_board= driver.find_elements_by_xpath("//li[@class='o-chart-results-list__item // a-chart-color u-width-72 u-width-55@mobile-max u-width-55@tablet-only lrv-u-flex lrv-u-flex-shrink-0 lrv-u-align-items-center lrv-u-justify-content-center lrv-u-border-b-1 u-border-b-0@mobile-max lrv-u-border-color-grey-light u-background-color-white-064@mobile-max lrv-u-flex-grow-1']")
for i in weeks_on_board:
    if i.text is None:
        Weeks_on_board.append('--')
    else:
        Weeks_on_board.append(i.text)

C:\Users\Asus\AppData\Local\Temp/ipykernel_26256/578104262.py:2: DeprecationWarning: find_elements_by_xpath is deprecated. Please use find_elements(by=By.XPATH, value=xpath) instead
  weeks_on_board= driver.find_elements_by_xpath("//li[@class='o-chart-results-list__item // a-chart-color u-width-72 u-width-55@mobile-max u-width-55@tablet-only lrv-u-flex lrv-u-flex-shrink-0 lrv-u-align-items-center lrv-u-justify-content-center lrv-u-border-b-1 u-border-b-0@mobile-max lrv-u-border-color-grey-light u-background-color-white-064@mobile-max lrv-u-flex-grow-1']")

In [193]:
Hot_Songs=pd.DataFrame({})
Hot_Songs['Song_name']=Song_name[:99]
Hot_Songs['Artist_name']=Artist_name[:99]
Hot_Songs['Last_week_rank']=Last_week_rank[:99]
Hot_Songs['Peak_rank']=Peak_rank[:99]
Hot_Songs['Weeks_on_board']=Weeks_on_board[:99]

Hot_Songs

,Song_name,Artist_name,Last_week_rank,Peak_rank,Weeks_on_board
0,First Class,Jack Harlow,1,,1
1,Wait For U,Future Featuring Drake & Tems,11,1,11
2,About Damn Time,Lizzo,2,,2
3,Running Up That Hill (A Deal With God),Kate Bush,10,1,10
4,Heat Waves,Glass Animals,3,,3
...,...,...,...,...,...
94,Plan B,Megan Thee Stallion,41,,41
95,Tomorrow Me,Luke Combs,18,15,18
96,Potion,"Calvin Harris, Dua Lipa & Young Thug",60,,60
97,New Truck,Dylan Scott,4,49,4
98,Wrapped Around Your Finger,Post Malone,49,,49

Q7. Scrape the details of Data science recruiters from naukri.com.
Url = https://www.naukri.com/
You have to find the following details:
A) Name
B) Designation
C) Company
D) Skills they hire for
E) Location

In [194]:
driver = webdriver.Chrome(r"C:\Web driver\chromedriver.exe")

C:\Users\Asus\AppData\Local\Temp/ipykernel_26256/2493915227.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(r"C:\Web driver\chromedriver.exe")

In [195]:
url = "https://www.naukri.com/"
driver.get(url)
time.sleep(6)
driver.maximize_window()

In [196]:
search=driver.find_element_by_xpath("//input[@class='suggestor-input ']")
search.send_keys('Data Science')

C:\Users\Asus\AppData\Local\Temp/ipykernel_26256/2392050442.py:1: DeprecationWarning: find_element_by_xpath is deprecated. Please use find_element(by=By.XPATH, value=xpath) instead
  search=driver.find_element_by_xpath("//input[@class='suggestor-input ']")

In [197]:
search_btn=driver.find_element_by_xpath("//div[@class='qsbSubmit']")
search_btn.click()

C:\Users\Asus\AppData\Local\Temp/ipykernel_26256/4160220471.py:1: DeprecationWarning: find_element_by_xpath is deprecated. Please use find_element(by=By.XPATH, value=xpath) instead
  search_btn=driver.find_element_by_xpath("//div[@class='qsbSubmit']")

In [209]:
#Creating emepty list
Designation=[]
Company=[]
Skills_they_hire=[]
Location=[]

In [211]:
#Scraping Designation 
designation=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
for i  in designation:
    Designation.append(i.text)

C:\Users\Asus\AppData\Local\Temp/ipykernel_26256/2161556373.py:2: DeprecationWarning: find_elements_by_xpath is deprecated. Please use find_elements(by=By.XPATH, value=xpath) instead
  designation=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")

In [212]:
#Scraping Company 
company=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
for i  in company:
    Company.append(i.text)

C:\Users\Asus\AppData\Local\Temp/ipykernel_26256/2366087590.py:2: DeprecationWarning: find_elements_by_xpath is deprecated. Please use find_elements(by=By.XPATH, value=xpath) instead
  company=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")

In [213]:
#Scraping Skills_they_hire 
skills_they_hire=driver.find_elements_by_xpath("//ul[@class='tags has-description']")
for i  in skills_they_hire:
    Skills_they_hire.append(i.text)

C:\Users\Asus\AppData\Local\Temp/ipykernel_26256/1750897835.py:2: DeprecationWarning: find_elements_by_xpath is deprecated. Please use find_elements(by=By.XPATH, value=xpath) instead
  skills_they_hire=driver.find_elements_by_xpath("//ul[@class='tags has-description']")

In [214]:
#Scraping Location 
location=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']")
for i  in location:
    if i.text is None:
        
        Location.append('--')
    else:
        Location.append(i.text)

C:\Users\Asus\AppData\Local\Temp/ipykernel_26256/2697786109.py:2: DeprecationWarning: find_elements_by_xpath is deprecated. Please use find_elements(by=By.XPATH, value=xpath) instead
  location=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']")

In [215]:
Recruiters=pd.DataFrame({})
Recruiters['Designation']= Designation[0:49]
Recruiters['Company']= Company[0:49]
Recruiters['Skills_they_hire']= Skills_they_hire[0:49]
Recruiters['Location']= Location[0:49]
Recruiters

,Designation,Company,Skills_they_hire,Location
0,Data Analysis / Data Science,Naukri Premium - Employer Services,data analysis\nbig data analytics\nConjoint\nT...,"Chennai, Bangalore/Bengaluru, Mumbai (All Areas)"
1,Data Science Analyst,Shell,Data Science\nData Science Analyst\ndata analysis,"Chennai, Bangalore/Bengaluru"
2,India Market Unit - Data Science Analyst - 11,Accenture,Strategy consulting\nMachine learning\nprofess...,Delhi / NCR
3,India Market Unit - Data Science Analyst - 11,Accenture,Strategy consulting\nMachine learning\nprofess...,Mumbai
4,Senior Manager- Data Science,Ecom Express Private Limited,Computer science\nData analysis\ndata science\...,Gurgaon/Gurugram
5,Senior Data Science Engineer,Fractal Analytics,Data Science\nIT Skills\nPython\nMachine Learn...,"Gurgaon/Gurugram, Bangalore/Bengaluru, Mumbai ..."
6,Senior Analyst-Data Science,Accenture,Publishing\nConsulting\nPredictive modeling\nD...,Bangalore/Bengaluru
7,HCL || Data Science,HCL Technologies,Azure Functions\nTableau\ncoding\nAzure\nGCP\n...,"Chennai, Bangalore/Bengaluru, Delhi / NCR"
8,ACN - Applied Intelligence - CC - Data Science...,Accenture,Data analysis\nData management\nAnalytical\nCo...,Gurgaon/Gurugram
9,ACN - Applied Intelligence - CC - Data Science...,Accenture,Data analysis\nAnalytical\nConsulting\nAnalyti...,Gurgaon/Gurugram
10,"Data Analyst - Data Science, 3 To 5 Years",Rise Finconnect Private Limited,Data Analytics\nData Science\nData Management\...,Mumbai (All Areas)
11,Technical Analyst ( Python - Data Science and ...,Coforge,python\nIT Skills\nData Science\nMachine Learn...,"Bangalore/Bengaluru, Greater Noida"
12,"Senior Advisor, Data Science",Dell Technologies,PostgreSQL\nSQL Server\nOracle\nIT Skills\nPyt...,Bangalore/Bengaluru
13,Data Science - Sr.Consultant/Manager,EY,data science\npython\nr\nsql,Bangalore/Bengaluru
14,Data Science Consultant,Allstate Solutions (ASPL),Data Science\nIT Skills\nPython\nSoftware Deve...,Bangalore/Bengaluru
15,Data Analyst ll - Data Science,Walmart,IT Skills\nPython\nTesting\nData Science\nMach...,Bangalore/Bengaluru
16,Data Science - Operations Research,Ecom Express Private Limited,Supply chain\nData analysis\nDue diligence\nOp...,Gurgaon/Gurugram
17,Data Science,Ecom Express Private Limited,Computer science\nData analysis\nOperations re...,Gurgaon/Gurugram
18,Data Science - Engineering Manager,Paytm,Computer science\ndata science\nEDC\nMachine l...,"Noida, Mumbai, Bangalore/Bengaluru"
19,AWS Data Scientist/AWS Data Science,MOTHERSONSUMI INFOTECH DESIGNS LIMITED,Pyspark\ndata science\nAWS ML\nCommunication\n...,Noida

Q8. Scrape the details of Highest selling novels. Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-greycompare/ You have to find the following details: A) Book name B) Author name C) Volumes sold D) Publisher E) Genre

In [43]:
driver = webdriver.Chrome(r"C:\Web driver\chromedriver.exe")

C:\Users\Asus\AppData\Local\Temp/ipykernel_26256/2493915227.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(r"C:\Web driver\chromedriver.exe")

In [44]:
driver.get('https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare')

In [45]:
Book_name=[]
Author_name=[]
Volumes_sold=[]
Publisher=[]
Genre=[]

In [46]:
dt = driver.find_elements_by_xpath('//table[@class="in-article sortable"]/tbody/tr/td[2]')
for d in dt:
    if d.text is None :
        Book_name.append('-')
    else:
        Book_name.append(d.text)

C:\Users\Asus\AppData\Local\Temp/ipykernel_26256/980204134.py:1: DeprecationWarning: find_elements_by_xpath is deprecated. Please use find_elements(by=By.XPATH, value=xpath) instead
  dt = driver.find_elements_by_xpath('//table[@class="in-article sortable"]/tbody/tr/td[2]')

In [47]:
dt = driver.find_elements_by_xpath('//table[@class="in-article sortable"]/tbody/tr/td[3]')
for d in dt:
    if d.text is None :
        Author_name.append('-')
    else:
        Author_name.append(d.text)

C:\Users\Asus\AppData\Local\Temp/ipykernel_26256/2682292633.py:1: DeprecationWarning: find_elements_by_xpath is deprecated. Please use find_elements(by=By.XPATH, value=xpath) instead
  dt = driver.find_elements_by_xpath('//table[@class="in-article sortable"]/tbody/tr/td[3]')

In [48]:
dt = driver.find_elements_by_xpath('//table[@class="in-article sortable"]/tbody/tr/td[4]')
for d in dt:
    if d.text is None :
        Volumes_sold.append('-')
    else:
        Volumes_sold.append(d.text)

C:\Users\Asus\AppData\Local\Temp/ipykernel_26256/2139160166.py:1: DeprecationWarning: find_elements_by_xpath is deprecated. Please use find_elements(by=By.XPATH, value=xpath) instead
  dt = driver.find_elements_by_xpath('//table[@class="in-article sortable"]/tbody/tr/td[4]')

In [49]:
dt = driver.find_elements_by_xpath('//table[@class="in-article sortable"]/tbody/tr/td[5]')
for d in dt:
    if d.text is None :
        Publisher.append('-')
    else:
        Publisher.append(d.text)

C:\Users\Asus\AppData\Local\Temp/ipykernel_26256/3499824430.py:1: DeprecationWarning: find_elements_by_xpath is deprecated. Please use find_elements(by=By.XPATH, value=xpath) instead
  dt = driver.find_elements_by_xpath('//table[@class="in-article sortable"]/tbody/tr/td[5]')

In [50]:
dt = driver.find_elements_by_xpath('//table[@class="in-article sortable"]/tbody/tr/td[6]')
for d in dt:
    if d.text is None :
        Genre.append('-')
    else:
        Genre.append(d.text)

C:\Users\Asus\AppData\Local\Temp/ipykernel_26256/3250547963.py:1: DeprecationWarning: find_elements_by_xpath is deprecated. Please use find_elements(by=By.XPATH, value=xpath) instead
  dt = driver.find_elements_by_xpath('//table[@class="in-article sortable"]/tbody/tr/td[6]')

In [51]:
import pandas as pd
table=pd.DataFrame({})

table['Book Name']=Book_name
table['Author Name']=Author_name
table['Volumes Sold']=Volumes_sold
table['Publisher']=Publisher
table['Genre']=Genre

table

,Book Name,Author Name,Volumes Sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

Q9.Scrape the details most watched tv series of all time from imdb.com. Url = https://www.imdb.com/list/ls095964455/ You have to find the following details: A) Name B) Year span C) Genre D) Run time E) Ratings F) Votes

In [52]:
driver = webdriver.Chrome(r"C:\Web driver\chromedriver.exe")

C:\Users\Asus\AppData\Local\Temp/ipykernel_26256/2493915227.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(r"C:\Web driver\chromedriver.exe")

In [53]:
driver.get('https://www.imdb.com/list/ls095964455/')

In [54]:
Name=[]
Year_span=[]
Genre=[]
Run_time=[] 
Ratings=[]
Votes=[]

In [55]:
dt = driver.find_elements_by_xpath('//h3[@class="lister-item-header"]/a')
for d in dt:
    if d.text is None :
        Name.append('-')
    else:
        Name.append(d.text)

C:\Users\Asus\AppData\Local\Temp/ipykernel_26256/123336419.py:1: DeprecationWarning: find_elements_by_xpath is deprecated. Please use find_elements(by=By.XPATH, value=xpath) instead
  dt = driver.find_elements_by_xpath('//h3[@class="lister-item-header"]/a')

In [56]:
dt = driver.find_elements_by_xpath('//span[@class="lister-item-year text-muted unbold"]')
for d in dt:
    if d.text is None :
        Year_span.append('-')
    else:
        Year_span.append(d.text)

C:\Users\Asus\AppData\Local\Temp/ipykernel_26256/2233726141.py:1: DeprecationWarning: find_elements_by_xpath is deprecated. Please use find_elements(by=By.XPATH, value=xpath) instead
  dt = driver.find_elements_by_xpath('//span[@class="lister-item-year text-muted unbold"]')

In [57]:
dt = driver.find_elements_by_xpath('//span[@class="genre"]')
for d in dt:
    if d.text is None :
        Genre.append('-')
    else:
        Genre.append(d.text)

C:\Users\Asus\AppData\Local\Temp/ipykernel_26256/3184466480.py:1: DeprecationWarning: find_elements_by_xpath is deprecated. Please use find_elements(by=By.XPATH, value=xpath) instead
  dt = driver.find_elements_by_xpath('//span[@class="genre"]')

In [58]:
dt = driver.find_elements_by_xpath('//span[@class="runtime"]')
for d in dt:
    if d.text is None :
        Run_time.append('-')
    else:
        Run_time.append(d.text)

C:\Users\Asus\AppData\Local\Temp/ipykernel_26256/2822090224.py:1: DeprecationWarning: find_elements_by_xpath is deprecated. Please use find_elements(by=By.XPATH, value=xpath) instead
  dt = driver.find_elements_by_xpath('//span[@class="runtime"]')

In [59]:
dt = driver.find_elements_by_xpath('//div[@class="ipl-rating-star small"]/span[2]')
for d in dt:
    if d.text is None :
        Ratings.append('-')
    else:
        Ratings.append(d.text)

C:\Users\Asus\AppData\Local\Temp/ipykernel_26256/205149475.py:1: DeprecationWarning: find_elements_by_xpath is deprecated. Please use find_elements(by=By.XPATH, value=xpath) instead
  dt = driver.find_elements_by_xpath('//div[@class="ipl-rating-star small"]/span[2]')

In [60]:
dt = driver.find_elements_by_xpath('//span[@name="nv"]')
for d in dt:
    if d.text is None :
        Votes.append('-')
    else:
        Votes.append(d.text)

C:\Users\Asus\AppData\Local\Temp/ipykernel_26256/528228981.py:1: DeprecationWarning: find_elements_by_xpath is deprecated. Please use find_elements(by=By.XPATH, value=xpath) instead
  dt = driver.find_elements_by_xpath('//span[@name="nv"]')

In [61]:
import pandas as pd
table=pd.DataFrame({})

table['Name']=Name
table['Year Span']=Year_span
table['Genre']=Genre
table['Run Time']=Run_time
table['Votes']=Votes

table

,Name,Year Span,Genre,Run Time,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,"1,998,308"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,"1,046,257"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,"950,935"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,"284,210"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,"244,002"
...,...,...,...,...,...
95,Reign,(2013–2017),"Drama, Fantasy",42 min,"48,938"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,"59,648"
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,"190,886"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,"40,377"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,"229,410"

Q10. Details of Datasets from UCI machine learning repositories. Url = https://archive.ics.uci.edu/ You have to find the following details: A) Dataset name B) Data type C) Task D) Attribute type E) No of instances F) No of attribute G) Year Note: - from the home page you have to go to the ShowAllDataset page through code.

In [62]:
driver = webdriver.Chrome(r"C:\Web driver\chromedriver.exe")

C:\Users\Asus\AppData\Local\Temp/ipykernel_26256/2493915227.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(r"C:\Web driver\chromedriver.exe")

In [63]:
driver.get('https://archive.ics.uci.edu/')

In [64]:
d = driver.find_element_by_xpath('//span[@class="normal"]/b')
d.click()

C:\Users\Asus\AppData\Local\Temp/ipykernel_26256/2603604.py:1: DeprecationWarning: find_element_by_xpath is deprecated. Please use find_element(by=By.XPATH, value=xpath) instead
  d = driver.find_element_by_xpath('//span[@class="normal"]/b')

In [65]:
Dataset_name=[]
Data_type=[]
Task=[]
Attribute_type=[]
instances=[]
attribute=[]
Year=[]

In [66]:
dt = driver.find_elements_by_xpath('//table[@border="1"]/tbody/tr/td[1]/table/tbody/tr/td[2]/p/b')
for d in dt:
    if d.text is None :
        Dataset_name.append('-')
    else:
        Dataset_name.append(d.text)

C:\Users\Asus\AppData\Local\Temp/ipykernel_26256/1747131803.py:1: DeprecationWarning: find_elements_by_xpath is deprecated. Please use find_elements(by=By.XPATH, value=xpath) instead
  dt = driver.find_elements_by_xpath('//table[@border="1"]/tbody/tr/td[1]/table/tbody/tr/td[2]/p/b')

In [67]:
dt = driver.find_elements_by_xpath('//table[@border="1"]/tbody/tr/td[2]')
for d in dt:
    if d.text is None :
        Data_type.append('-')
    else:
        Data_type.append(d.text)

C:\Users\Asus\AppData\Local\Temp/ipykernel_26256/2174982313.py:1: DeprecationWarning: find_elements_by_xpath is deprecated. Please use find_elements(by=By.XPATH, value=xpath) instead
  dt = driver.find_elements_by_xpath('//table[@border="1"]/tbody/tr/td[2]')

In [68]:
dt = driver.find_elements_by_xpath('//table[@border="1"]/tbody/tr/td[3]')
for d in dt:
    if d.text is None :
        Task.append('-')
    else:
        Task.append(d.text)

C:\Users\Asus\AppData\Local\Temp/ipykernel_26256/4088478603.py:1: DeprecationWarning: find_elements_by_xpath is deprecated. Please use find_elements(by=By.XPATH, value=xpath) instead
  dt = driver.find_elements_by_xpath('//table[@border="1"]/tbody/tr/td[3]')

In [69]:
dt = driver.find_elements_by_xpath('//table[@border="1"]/tbody/tr/td[4]')
for d in dt:
    if d.text is None :
        Attribute_type.append('-')
    else:
        Attribute_type.append(d.text)

C:\Users\Asus\AppData\Local\Temp/ipykernel_26256/3423581309.py:1: DeprecationWarning: find_elements_by_xpath is deprecated. Please use find_elements(by=By.XPATH, value=xpath) instead
  dt = driver.find_elements_by_xpath('//table[@border="1"]/tbody/tr/td[4]')

In [70]:
dt = driver.find_elements_by_xpath('//table[@border="1"]/tbody/tr/td[5]')
for d in dt:
    if d.text is None :
        instances.append('-')
    else:
        instances.append(d.text)

C:\Users\Asus\AppData\Local\Temp/ipykernel_26256/3864215652.py:1: DeprecationWarning: find_elements_by_xpath is deprecated. Please use find_elements(by=By.XPATH, value=xpath) instead
  dt = driver.find_elements_by_xpath('//table[@border="1"]/tbody/tr/td[5]')

In [71]:
dt = driver.find_elements_by_xpath('//table[@border="1"]/tbody/tr/td[6]')
for d in dt:
    if d.text is None :
        attribute.append('-')
    else:
        attribute.append(d.text)

C:\Users\Asus\AppData\Local\Temp/ipykernel_26256/181499546.py:1: DeprecationWarning: find_elements_by_xpath is deprecated. Please use find_elements(by=By.XPATH, value=xpath) instead
  dt = driver.find_elements_by_xpath('//table[@border="1"]/tbody/tr/td[6]')

In [72]:
dt = driver.find_elements_by_xpath('//table[@border="1"]/tbody/tr/td[7]')
for d in dt:
    if d.text is None :
        Year.append('-')
    else:
        Year.append(d.text)

C:\Users\Asus\AppData\Local\Temp/ipykernel_26256/715487708.py:1: DeprecationWarning: find_elements_by_xpath is deprecated. Please use find_elements(by=By.XPATH, value=xpath) instead
  dt = driver.find_elements_by_xpath('//table[@border="1"]/tbody/tr/td[7]')

In [73]:
print(len(Dataset_name))
print(len(Data_type))
print(len(Task))
print(len(Attribute_type))
print(len(instances))
print(len(attribute))
print(len(Year))

622
623
623
623
623
623
623

In [76]:
import pandas as pd
table=pd.DataFrame({})

table['Dataset Name']=Dataset_name[1:600]
table['Data Type']=Data_type[1:600]
table['Task']=Task[1:600]
table['Attribute Type']=Attribute_type[1:600]
table['Instances']=instances[1:600]
table['Attribute']=attribute[1:600]
table['Year']=Year[1:600]


table

,Dataset Name,Data Type,Task,Attribute Type,Instances,Attribute,Year
0,Adult,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Annealing,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Anonymous Microsoft Web Data,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,Arrhythmia,,Recommender-Systems,Categorical,37711,294,1998
4,Artificial Characters,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
594,Secondary Mushroom Dataset,Text,"Classification, Clustering",,4200,7,2021
595,Power consumption of Tetouan city,Univariate,Classification,Real,61069,21,2021
596,Raisin Dataset,"Multivariate, Time-Series",Regression,"Integer, Real",52417,9,2021
597,Steel Industry Energy Consumption Dataset,Multivariate,Classification,"Integer, Real",900,8,2021
598,Gender Gap in Spanish WP,Multivariate,Regression,,35040,11,2021